main {
  min-height: 80vh;
}

/* SLIDER */
.carousel-caption h3 {
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #333;
}
/* Hidden h3 caption in mobile divice */
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .carousel-caption h3 {
    display: none;
  }
}

/* CERTIFICATE */
.certificate {
  padding-top: 70px;
  padding-bottom: 70px;
}

.certificate img {
  display: inline-block;
  align-self: center;

  width: 50%;
  margin-top: -35px;
}

.certificate .content {
  padding-top: 70px;
}

/* Card */

.card-body h5 {
  padding: 1rem 0;
}

.card-text .rating span {
  margin: 0.1rem;
  font-size: 14px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #323232;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
